.form-area{
    margin-top: 50px;

}

.textarea-form-1{
    resize: none;
    width: 800px;
    height: 20px;
}

.textarea-form-2{
    resize: none;
    width: 800px;
    height: 20px;
}

.textarea-form-3{
    resize: none;
    width: 800px;
    height: 20px;
}