<!DOCTYPE html>
<html>
<head>
    <title>한국어 욕설 감지하는 인공지능</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <img class="title_page_img" src="images/제목 페이지 사진.png" alt="그림이 존재하지 않습니다.">
</head>
<body>
    <nav class="nav nav-pills nav-fill">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">악성댓글 확인하기</a>
        <a class="nav-link" href="#">데이터베이스</a>
        <a class="nav-link" href="#">기타</a>
      </nav>
    <script>
        window.addEventListener('load', function() {
            window.resizeTo(screen.availWidth, screen.availHeight);
        });
    </script>
    <img class="main_page_img" src="images/금지사진.png" alt="그림이 존재하지 않습니다.">
</body>
</html>
