<!DOCTYPE html>
<html>
<head>
    <title>한국어 욕설 감지하는 인공지능</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <img class="check_page_img" src="images/악성 댓글 페이지 사진.png" alt="그림이 존재하지 않습니다.">
</head>
<body>
    <script>
            window.addEventListener('load', function() {
                window.resizeTo(screen.availWidth, screen.availHeight);
            });
    </script>
    <div class="input-container">
       <div class="input-group input-group-lg">
          <span class="input-group-text" id="inputGroup-sizing-lg"></span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
       </div>
       <button type="button" class="check_btn check_btn-primary check_btn-lg">확인하기</button>
    </div>
    <div class="textarea-container">
       <form>
          결과:<br>   
          <textarea name="memo" class="result-textarea" rows="30" cols="30"></textarea>
       </form>
    </div>
    </body>
    
</html>